*, *::before, *::after {
   box-sizing: border-box;
   font-family: Gotham Rounded, sans-serif;
   font-weight: normal;
}

body {
   padding: 0;
   background: linear-gradient(to right, #00AAFF, rgb(110, 167, 231), #00FF6C)
}

.calculator-grid {
   display: grid;
   justify-content: center;
   align-content: center;
   min-height: 100vh;
   grid-template-columns: repeat(4, 100px);
   grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
   cursor: pointer;
   font-size: 2rem;
   border-block: 1px solid white;
   outline: none;
   background-color: rgba(red, green, blue, alpha)
}

.calculator-grid>button:hover {
   background-color: rgb(194, 230, 248)
}

.span-two {
   grid-column: span 2;
}

.output {
   grid-column: 1/-1;
   background-color: rgb(15, 15, 15);
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   flex-direction: column;
   padding: 10px;
   word-wrap: break-word;
   word-spacing: break-all;
}

.output .previous-operand {
   color: rgb(189, 184, 184);
   border-block-end-style: ridge;
   font-style: italic
}

.output .current-operand {
   color: white;
   border-inline-start-style: inset;
   font-size: 2rem
}